<section class='friends card'>
  <div class='card'>
    <div class='card-body'>
      <div class='header mb-2'>
        <%= link_to raw("<i class='fas fa-user-friends mr-2'> </i>Friends"), '#' %>
        <span class="text-secondary">&nbsp;41 Mutual Friends</span>
      </div>
      <div class='row'>
        <div class='friends-gallery col-sm-4 my-1'>
          <%= image_tag @user.image, class:"img-fluid", title: @user.fullname %>
          <%= link_to @user.fullname, @user %>
        </div>
        <div class='friends-gallery col-sm-4 my-1'>
          <%= image_tag @user.image, class:"img-fluid", title: @user.fullname %>
          <%= link_to @user.fullname, @user %>
        </div>
        <div class='friends-gallery col-sm-4 my-1'>
          <%= image_tag @user.image, class:"img-fluid", title: @user.fullname %>
          <%= link_to @user.fullname, @user %>
        </div>
        <div class='friends-gallery col-sm-4 my-1'>
          <%= image_tag @user.image, class:"img-fluid", title: @user.fullname %>
          <%= link_to @user.fullname, @user %>
        </div>
        <div class='friends-gallery col-sm-4 my-1'>
          <%= image_tag @user.image, class:"img-fluid", title: @user.fullname %>
          <%= link_to @user.fullname, @user %>
        </div>
      </div>
    <div>
  <div>
</section>
