<header class="navbar navbar-inverse">
<div class="container-fluid" style="background-color: rgb(61, 91, 153);">
    <div
        class="col-md-6"
    >
        <h1 style='color:white;padding-left:1em;'>the facebook</h1>
    </div>

    <div
        class="col-md-6"
    >
        <%= form_for :signin, :html =>{:class => "form-inline", :style => 'padding:0.5em;'} do |f| %>
        <div class="form-group">
            <div class="col-3">
                <%= f.label :user, "Email or phone", style: 'color:white;' %>
            </div>
            <%= f.text_field :user %>
        </div>
        <div class="form-group">
            <div class="col-3">
                <%= f.label :pass, "Password", style: 'color:white;' %>
            </div>
            <%= f.password_field :password %> 
            <%= f.submit "Log In", class:"btn-primary" %>
        </div>
        <%end%>
    </div>
</div>
</header>
<div class="container-fluid">
    <div class="col-md-7">
    <h3>Connect with friends and the
        world around <br> you on Facebook.</h3>
        <br>
    <h5>See photos and updates from friends in News Feed.</h5>
    <br>
    <h5>Share what's new in your life on your Timeline.</h5>
    <br>
    <h5 >Find more of what you're looking for with Facebook Search.</h5>
</div>
